* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Inter', sans-serif;
}

.nav-container {
    background-color: #9cafb7;
    padding: 12px;
    color: white;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 90px;
    padding: 4px 8px;
  }
  
.nav-item {
    padding: 12px;
}

.nav-list-items li {
    list-style: none;
    padding: 8px;
    text-decoration: none;
}

.nav-list-items li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.register-container {
    justify-content: center;
    width: 400px; /* width of the div */
    height: 400px; /* height of the div */
    position: absolute; /* set the position to absolute */
    top: 50%; /* set the top position to 50% */
    left: 50%; /* set the left position to 50% */
    transform: translate(-50%, -50%); /* translate the div to the center */
    border-radius: 4px;
    font-size : 20px;
}

label {
    display: inline-block; 
    width: 200px; 
    text-align: left;
    padding:right;
}

button {
    width:350px;
    height: 40px;
    margin-top: 20px;
    text-align: center
}

.home-section {
    padding: 28px;
}